<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/catalogo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans)" rel="stylesheet" >

    <title>KLG Shoes - Catalogo</title>
</head>

<body class="body">

    <header class="encabezado">
        <div class="logo">
            <a title="KLG Shoes" href="indice.html">
                <img alt="KLG Shoes"  src="img/Logo.png" /></a>
        </div>

        <nav class="navbar navbar-light" style="background-color: #3E3BB5;">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="catalogo.html">Catalogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="formulario.html">Registrarse</a
              >
            </li>
          </ul>
        </nav>
    </header>

    <section class="medio">

        <div class="saludo">
            BIENVENIDO A NUESTRO CATALOGO
        </div>

        <br>

        <div class="mostrario">

            <div class="fila1">
                <div class="producto" id="producto1">
                    <div class="containerImg">
                        <img class="img" src="img/catalogo/1.jpg" alt="#">
                    </div>

                    <div class="datos">
                        <div class="nombreProducto">
                            X_PLR
                        </div>
                        <div class="precioProducto">
                            $49.990
                        </div>
                    </div>

                </div>
                <div class="producto" id="producto2">
                    <div class="containerImg">
                        <img class="img" src="img/catalogo/2.jpg" alt="#">
                    </div>
                    <div class="datos">
                        <div class="nombreProducto">
                            GRAND COURT
                        </div>
                        <div class="precioProducto">
                            $39.990
                        </div>
                    </div>
                </div>
                <div class="producto" id="producto3">
                    <div class="containerImg">
                        <img class="img" src="img/catalogo/3.jpg" alt="#">
                    </div>
                    <div class="datos">
                        <div class="nombreProducto">
                            Air Structure 22
                        </div>
                        <div class="precioProducto">
                            $79.990
                        </div>
                    </div>
                </div>
                <div class="producto" id="producto4">
                    <div class="containerImg">
                        <img class="img" src="img/catalogo/4.jpg" alt="#">
                    </div>
                    <div class="datos">
                        <div class="nombreProducto">
                            Mercurial Vapor 13
                        </div>
                        <div class="precioProducto">
                            $219.990
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="fila2">
                <div class="producto" id="producto5">
                    <div class="containerImg">
                        <img class="img" src="img/catalogo/5.jpg" alt="#">
                    </div>
                    <div class="datos">
                        <div class="nombreProducto">
                            Air Force 1 Flyknit
                        </div>
                        <div class="precioProducto">
                            $74.990
                        </div>
                    </div>
                </div>
                <div class="producto" id="producto6">
                    <div class="containerImg">
                        <img class="img" src="img/catalogo/6.jpg" alt="#">
                    </div>
                    <div class="datos">
                        <div class="nombreProducto">
                            Charged Assert 8
                        </div>
                        <div class="precioProducto">
                            $34.990
                        </div>
                    </div>
                </div>

                <div class="producto" id="producto7">
                    <div class="containerImg">
                        <img class="img" src="img/catalogo/7.jpg" alt="#">
                    </div>
                    <div class="datos">
                        <div class="nombreProducto">
                            HOVR™ Phantom
                        </div>
                        <div class="precioProducto">
                            $94.990
                        </div>
                    </div>
                </div>
                <div class="producto" id="producto8">
                    <div class="containerImg">
                        <img class="img" src="img/catalogo/8.jpg" alt="#">
                    </div>
                    <div class="datos">
                        <div class="nombreProducto">
                            FUTURE 19.1 NETF
                        </div>
                        <div class="precioProducto">
                            $149.990
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>



    </section>

    <footer class="footer">

        <div class="rsFooter">
            <div class="logoRS">
                <img class="pngLogo" src="img/rrss/facebook.png" alt="#">
            </div>
            <div class="logoRS">
                <img class="pngLogo" src="img/rrss/instagram.png" alt="#">
            </div>
            <div class="logoRS">
                <img class="pngLogo" src="img/rrss/tumblr.png" alt="#">
            </div>
            <div class="logoRS">
                <img class="pngLogo" src="img/rrss/twitter.png" alt="#">
            </div>
        </div>

    </footer>




</body>